<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Calendar API{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('App') }}
            <link rel="stylesheet" href="/css/master.css">
        {% endblock %}
    </head>
    <body>
        <div id="root"></div>
        {% include "header.html.twig" %}
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('App') }}
        {% endblock %}
        {% include "footer.html.twig" %}
    </body>
</html>
